h1{
	text-align: center;
}
td{
	width: 100px;
	height: 100px;
}
.vertical{
	border-right: 1px solid Black;
	border-left: 1px solid Black;
}
.horizontal{
	border-top: 1px solid Black;
	border-bottom: 1px solid Black;
}
table{
	margin: auto;
}
